<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>478829532994-sqh711f23cvojpvqlrdk50aim0lif0ce.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.478829532994-sqh711f23cvojpvqlrdk50aim0lif0ce</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>478829532994-s0hfllndq79h94ldbpfrauuju8bmljff.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCaIdsV5IYZWKzzIy4Z1NAtTj5PJCVkkRA</string>
	<key>GCM_SENDER_ID</key>
	<string>478829532994</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.appinventiv.ashish.shopheaven.shopHeaven</string>
	<key>PROJECT_ID</key>
	<string>shop-heaven-ed8be</string>
	<key>STORAGE_BUCKET</key>
	<string>shop-heaven-ed8be.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:478829532994:ios:eb302f40dfdc56f9501adb</string>
</dict>
</plist>